<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.content %></td>
        <td><%= event.user %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<%= render 'devise/sessions/form_event' %>
<br>
<%= link_to 'Login', new_user_session_path, remote: true, action: 'devise/sessions#new', onclick: 'openModal()'%>
<script>
function openModal(){
  $("#myModal").modal('show');
}
</script>
<%= link_to 'New Event', new_event_path %>
