
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Flora Active</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a>Logo</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'New Event', new_event_path %>
        </li>
        <li>
          <a>  <%=  image_tag 'user.png', width: '25', height:'25' %> <%= current_user.email %></a>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
        </li>
      <% end %>
        <% if !user_signed_in? %>
        <li>
          <%= render 'devise/sessions/form_event' %>
          <%= link_to 'Login or sign up', new_user_session_path, remote: true, action: 'devise/sessions#new', onclick: 'openModal()'%>
        </li>
        <% end %>
    </ul>
  </div>
</nav>
<nav class="navbar menu center-block">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><%= link_to  'Начало', '/', method: 'get'%></li>
      <li><%= link_to  'Резервация', method: 'get'%></li>
      <li><%= link_to  'Програма', method: 'get'%></li>
      <li><%= link_to  'Информация', method: 'get'%></li>
    </ul>
  </div>
</nav>

<div class="container">
<p id="notice"><%= notice %></p>
<h1>Listing Events</h1>
<% @events.each do |event| %>
  <div class="row card">
    <div class="col-lg-8">
      <%= link_to  'events/'+ event.id.to_s, method: 'get', class: 'display' do%>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title row">
            <div class="col-md-6">
              <%= event.name %>
            </div>
            <div class="pull-right">
              by event.creator
            </div>
          </h3>
        </div>
        <div>
          <%= event.content %>
        </div>
        <div class="panel-footer pull-right">
          <div>
            event.date
          </div>
        </div>
        <div class="panel-footer pull-left">
          <div>
            ID : <%= event.id %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="col-md-2">
        <div>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<footer class="footer">
  <hr />
  <h5 class="pull-right">Footer details</h5>
</footer>
</div>

<script>
function openModal(){
  $("#myModal").modal('show');
}
</script>
