
<div class="container">
<p id="notice"><%= notice %></p>
<h1>Listing Events</h1>
<% @events.each do |event| %>
  <div class="row card">
    <div class="col-lg-8">
      <%= link_to  event, class: 'display' do%>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title row">
            <div class="col-md-6">
              <%= event.name %>
            </div>
            <div class="pull-right">
              by event.creator
            </div>
          </h3>
        </div>
        <div>
          <%= event.content %>
        </div>
        <div class="panel-footer pull-right">
          <div>
            event.date
          </div>
        </div>
        <div class="panel-footer pull-left">
          <div>
            ID : <%= event.id %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class="col-md-2">
        <div>
            <%= link_to 'Edit', edit_event_path(event) %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

</div>
