<!DOCTYPE html>
<html>
<head>
  <title>Flora Active</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <h2>Hello, <%= current_user.email %></h2>
    <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
  <% end %>
  <% if !user_signed_in? %>
    <%= render 'devise/sessions/form_event' %>
    <%= link_to 'Login', new_user_session_path, remote: true, action: 'devise/sessions#new', onclick: 'openModal()'%>
  <% end %>
  <%= yield %>
</body>
</html>
